.cartImage {
  width: 20%;
  height: 100%;
  object-fit: contain;
}

.cartProduct {
  display: flex;
  align-items: center;
  height: 20%;
  font-weight: bold;
  border: 1px solid gray;
  border-left: none;
  border-right: none;
}
.cartItem {
  flex: 1;
}

.cartProduct > button {
  border: none;
  background-color: rgb(204, 0, 0);
  width: auto;
  height: 20%;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 20px;
  font-family: 'Montserrat';
}

.cartChange {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: center;
}

.cartChange button {
  color: rgb(204, 0, 0);
}

.checkout {
  border: solid 1px gray;
  background-color: rgb(44, 231, 69);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Montserrat';
}
