#shop {
  transition: all 0.8s 0s ease-in-out;
  height: 100vh;
  width: 100vw;
}

nav {
  background-color: #131313;
  height: 80px;
}

.navbar {
  display: flex;
  background-color: #131313;
  justify-content: end;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  height: 100%;
}

.fa-cart-shopping,
.fa-house {
  font-size: 2rem;
  cursor: pointer;
}

.content {
  background-color: #131313;
  display: flex;
  height: 100%;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.2) translateY(-300%);
}
